 {% load static%}
 <footer class="bg-dark text-white py-3" style="width: 100%">
      <div class="container text-center">
        <div class="row d-flex align-items-center">
          
          <div class="col-md-4">
            <p>Copyright © 2024 - Made By SOLO457.</p>
          </div>
          <div class="col-md-7 d-flex">
            <div class="social-icons">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-youtube"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
            <div>
              <a href="#" class="text-white mx-2">Rules</a> |
              <a href="#" class="text-white mx-2">FAQ</a> |
              <a href="#" class="text-white mx-2">Contact Us</a> |
              <a href="#" class="text-white mx-2">Legal Notices</a>
            </div>
          </div>
        </div>
      </div>
    </footer>